@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.aside-container::-webkit-scrollbar {
		width: 0;
	}
	.dashboard-taps-button {
		@apply w-full flex items-center justify-center gap-2 font-semibold py-2 bg-gray-200 hover:bg-primary transition duration-500
	}
}

@layer base {
	.dark-btn {
		@apply w-[10rem] block text-center px-4 py-2 rounded-full  bg-dark mt-4 hover:bg-secondaryDark transition-all duration-300;
	}
	a {
		@apply !no-underline text-sm focus:text-primary active:text-primary;
	}
}

body,
html {
	scroll-behavior: smooth !important;
	@apply !bg-gray-50;
}

.rs-slider-bar {
	@apply !bg-gray-200;
}

.rs-slider-progress-bar {
	@apply !bg-primary;
}

.rs-slider-handle {
	@apply !shadow-cYellow;
}

.rs-slider-handle:focus:before,
.rs-slider-handle:hover:before {
	@apply !shadow-sliderCircleYellow;
}

.rs-slider-handle::before {
	@apply !border-primary;
}

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	border: 10px solid;
	box-sizing: border-box;
	animation: animLoader 1s linear infinite alternate;
}

@keyframes animLoader {
	0% {
		border-color: transparent;
	}

	20% {
		border-color: #fbc644 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0)
			rgba(255, 255, 255, 0);
	}

	40% {
		border-color: #fbc644 #fbc644 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
	}

	60% {
		border-color: #fbc644 #fbc644 #fbc644 rgba(255, 255, 255, 0);
	}

	100% {
		border-color: #fbc644 #fbc644 #fbc644 #fbc644;
	}
}
