@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.aside-container::-webkit-scrollbar {
		width: 0;
	}
	.dashboard-taps-button {
		@apply w-full flex items-center justify-center gap-2 font-semibold py-2 bg-gray-200 hover:bg-primary transition duration-500;
	}
}

@layer base {
	.dark-btn {
		@apply w-[10rem] block text-center px-4 py-2 rounded-full bg-dark mt-4 hover:bg-secondaryDark transition-all duration-300;
	}
	a {
		@apply !no-underline text-sm focus:text-primary active:text-primary;
	}
}

@layer utilities {
	.flex-jc-c {
		@apply flex justify-center items-center;
	}
	.flex-jb-c {
		@apply flex justify-between items-center;
	}
	.flex-je-c {
		@apply flex justify-evenly items-center;
	}
	.flex-ic-c {
		@apply flex items-center;
	}

	.translate-x-center {
		@apply -translate-x-2/4 left-2/4;
	}
	.translate-y-center {
		@apply -translate-y-2/4 top-2/4;
	}
}

body,
html {
	scroll-behavior: smooth !important;
	@apply !bg-gray-50;
}

.rs-slider-bar {
	@apply !bg-gray-200;
}

.rs-slider-progress-bar {
	@apply !bg-primary;
}

.rs-slider-handle {
	@apply !shadow-cYellow;
}

.rs-slider-handle:focus:before,
.rs-slider-handle:hover:before {
	@apply !shadow-sliderCircleYellow;
}

.rs-slider-handle::before {
	@apply !border-primary;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	border: 10px solid;
	box-sizing: border-box;
	animation: animLoader 1s linear infinite alternate;
}

.dialog__wrapper {
	@apply fixed w-screen h-screen bg-dark bg-opacity-50 top-0 left-0 z-50;

	&.delete {
		& > div {
			@apply !bg-red-50;
		}
	}

	.delete {
		@apply !bg-[#FF4F36] !shadow-red-200;
	}
}

@layer components {
}
.top__arrow {
	position: absolute;
	top: -5px;
	left: 10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	border-color: transparent transparent transparent transparent;
	@apply border-b-white;
}

@keyframes animLoader {
	0% {
		border-color: transparent;
	}

	20% {
		border-color: #fbc644 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0)
			rgba(255, 255, 255, 0);
	}

	40% {
		border-color: #fbc644 #fbc644 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
	}

	60% {
		border-color: #fbc644 #fbc644 #fbc644 rgba(255, 255, 255, 0);
	}

	100% {
		border-color: #fbc644 #fbc644 #fbc644 #fbc644;
	}
}
